<section class="cid-rr5GkHAtZE" id="footer1-l">
    <div class="container">
        <div class="media-container-row content text-white">
            <div class="col-12 col-md-3">
                <div class="media-wrap">
                    <a href="/">
                        <img src="{{ site.logo }}" alt="{{ site.alt-logo }}">
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-3 mbr-fonts-style display-7">
                <h5 class="pb-3">
                    Alamat
                </h5>
                <p class="mbr-text">
                    <a href="{{ site.maps }}">{{ site.streetAddress }}
                        <br>{{ site.address }} {{ site.postalCode }}</a>
                </p>
            </div>
            <div class="col-12 col-md-3 mbr-fonts-style display-7">
                <h5 class="pb-3">
                    Kontak
                </h5>
                <p class="mbr-text">
                    Email: <a href="mailto:{{ site.email }}">{{ site.email }}</a>
                    <br>
                    <br>{{ site.telephonenya }}
                    <br>Phone: <a href="tel:+{{ site.telephone }}">{{ site.telephonedetail }}</a>
                    <br>Whatsapp: <a href="{{ site.whatsapp-api }}">{{ site.telephonedetail }}</a>
                    <br>
                    <br>{{ site.telephonenya2 }}
                    <br>Phone: <a href="tel:+{{ site.telephone2 }}">{{ site.telephonedetail2 }}</a>
                    <br>Whatsapp: <a href="{{ site.whatsapp-api2 }}">{{ site.telephonedetail2 }}</a>
                </p>
            </div>
            <div class="col-12 col-md-3 mbr-fonts-style display-7">
                <h5 class="pb-3">
                    Links
                </h5>
                <p class="mbr-text">
                    <a class="text-primary" href="/privacy-policy/">Privacy Policy</a>
                    <br><a class="text-primary" href="/terms-and-conditions/" style="height: 48px">Terms and Conditions</a>
                </p>
            </div>
        </div>
        <div class="footer-lower">
            <div class="media-container-row">
                <div class="col-sm-12">
                    <hr>
                </div>
            </div>
            <div class="media-container-row mbr-white">
                <div class="col-sm-6 copyright">
                    <p class="mbr-text mbr-fonts-style display-7">
                        {{ site.copyright }}. Designed by <a href="https://klikada.com/">
                        <img src="/assets/images/klikada-panjang.svg" width="75" height="15" layout="fixed" alt="klikada.com" title="klikada.com"></amp-img>
                    </a>
                    </p>
                </div>
                <div class="col-md-6">
                    <div class="social-list align-right">
                        {% include socmed.html %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>