<noscript>
    <h3>Untuk tampilan yang Bagus, Mohon Aktifkan Javascript Anda</h3>
</noscript>
<section class="carousel slide cid-rr5zQ9Urv7" data-interval="false" id="slider1-c">
    <div class="full-screen">
        <div class="mbr-slider slide carousel" data-pause="true" data-keyboard="false" data-ride="carousel" data-interval="8000">
            <ol class="carousel-indicators">
                {% for item in site.data-slider %}
                <li data-app-prevent-settings="" data-target="#slider1-c" class="{{ item.class }}" data-slide-to="{{ item.number }}"></li>
                {% endfor %}
            </ol>
            <div class="carousel-inner" role="listbox">
                {% for item in site.data-slider %}
                <div class="carousel-item slider-fullscreen-image {{ item.class }}" data-bg-video-slide="false" style="background-image: url({{ item.image-url }});">
                    <div class="container container-slide">
                        <div class="image_wrapper">
                            <div class="mbr-overlay"></div><img src="{{ item.image-url }}">
                            <div class="carousel-caption justify-content-center">
                                <div class="col-10 align-left">
                                    <h1 class="mbr-fonts-style display-1">{{ item.slider-title-h1 }}</h1>
                                    <h2 class="mbr-fonts-style display-1">{{ item.slider-title-h2 }}</h2>
                                    <p class="lead mbr-text mbr-fonts-style display-5">{{ item.description }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <a data-app-prevent-settings="" class="carousel-control carousel-control-prev" role="button" data-slide="prev" href="#slider1-c"><span aria-hidden="true" class="mbri-left mbr-iconfont"></span><span class="sr-only">Previous</span></a><a data-app-prevent-settings="" class="carousel-control carousel-control-next" role="button" data-slide="next" href="#slider1-c"><span aria-hidden="true" class="mbri-right mbr-iconfont"></span><span class="sr-only">Next</span></a>
        </div>
    </div>
</section>