<section class="menu cid-qTkzRZLJNu" once="menu" id="menu1-0">
    <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm bg-color transparent">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
        <div class="menu-logo">
            <div class="navbar-brand">
                <span class="navbar-logo">
                    <a href="/">
                        <img src="/assets/images/logo2.png" alt="adhyasta" style="height: 3.8rem;">
                    </a>
                </span>
                <span class="navbar-caption-wrap"><a class="navbar-caption text-white display-4" href="/">Adhyasta</a></span>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
                <li class="nav-item">
                    <a class="nav-link link text-white display-4" href="/">Home</a>
                </li>
                <li class="nav-item dropdown"><a class="nav-link link text-white dropdown-toggle display-4" href="#" data-toggle="dropdown-submenu" aria-expanded="false">Produk</a>
                    <div class="dropdown-menu">
                        <a class="text-white dropdown-item display-4" href="/produk/spesialis-lapangan-tenis/">Lapangan Tenis</a>
                        <a class="text-white dropdown-item display-4" href="/produk/spesialis-lapangan-basket/">Lapangan Basket</a>
                        <a class="text-white dropdown-item display-4" href="/produk/spesialis-lapangan-futsal/">Lapangan Futsal</a>
                        <a class="text-white dropdown-item display-4" href="/produk/spesialis-lapangan-bukutangkis/">Lapangan Bulutangkis</a>
                        <a class="text-white dropdown-item display-4" href="/produk/spesialis-lapangan-voli/">Lapangan Voli</a>
                        <a class="text-white dropdown-item display-4" href="/produk/spesialis-lapangan-sepak-bola/">Lapangan Sepak Bola</a>
                        <a class="text-white dropdown-item display-4" href="/produk/spesialis-lapangan-sepak-takraw/">Lapangan Sepak Takraw</a>
                        <a class="text-white dropdown-item display-4" href="/produk/spesialis-ruang-terbuka-hijau/">Ruang Terbuka Hijau</a>
                        <a class="text-white dropdown-item display-4" href="/produk/spesialis-jasa-batu-koral-sikat/">Jasa Batu Koral Sikat</a>
                        <a class="text-white dropdown-item display-4" href="/produk/spesialis-jogging-track/">Jogging Track</a>
                        <a class="text-white dropdown-item display-4" href="/produk/spesialis-kolam-renang/">Kolam Renang</a>
                    </div>
                </li>
                <li class="nav-item"><a class="nav-link link text-white display-4" href="/galeri/" aria-expanded="false">Galeri</a></li>
                <li class="nav-item"><a class="nav-link link text-white display-4" href="/blog/">Blog</a></li>
                <li class="nav-item"><a class="nav-link link text-white display-4" href="/kontak/">Kontak</a></li>
            </ul>
            
            <div id="google_translate_element" style="padding-left: 97px;"></div>
            <script type="text/javascript">
            function googleTranslateElementInit() {
                new google.translate.TranslateElement({ pageLanguage: 'id', includedLanguages: 'id,ar,en,zh-CN', defaultLanguage: 'id', multilanguagePage: true, layout: google.translate.TranslateElement.InlineLayout.SIMPLE }, 'google_translate_element');
            }
            </script>
            <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
        </div>
    </nav>
</section>